.button{
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid crimson;
    color: crimson;
    transition: all 0.7s ease;
}

.button:active{
    transform:scale(0.9);
}

.button:hover{
    color: white;
    background: crimson;
    border: 2px solid rgb(122, 122, 122);
}
